header {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;

    a {
        margin: 0 10px;

        &.active {
            color: #666;
            text-decoration: underline;
        }
    }
}
