:host {
    display: block;
    box-sizing: border-box;
    padding: 15px 30px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px #ccc;
    background-color: white;

    img {
        width: 100%;
        margin: 10px 0;
    }

    h2 {
        margin-bottom: 0;
    }

    button {
        margin: auto;
        display: flex;
        font-size: 20px;
    }
}
